In [146]:
# Import dependencies
import pandas as pd
from pathlib import Path

import re
from datetime import datetime

In [147]:
# Import Oct 2023 dataset
oct_path = Path("resources/JC-202310-citibike-tripdata.csv")
oct_df = pd.read_csv(oct_path)

# Import Nov 2022 dataset
nov_path = Path("resources/JC-202211-citibike-tripdata.csv")
nov_df = pd.read_csv(nov_path)

FileNotFoundError: [Errno 2] No such file or directory: 'resources/JC-202211-citibike-tripdata.csv'

In [77]:
# Check the Oct 2023 dataset columns
oct_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97584 entries, 0 to 97583
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             97584 non-null  object
 1   rideable_type       97584 non-null  object
 2   started_at          97584 non-null  object
 3   ended_at            97584 non-null  object
 4   start_station_name  97579 non-null  object
 5   start_station_id    97579 non-null  object
 6   end_station_name    97207 non-null  object
 7   end_station_id      97207 non-null  object
 8   start_lat           97584 non-null  float64
 9   start_lng           97584 non-null  float64
 10  end_lat             97497 non-null  float64
 11  end_lng             97497 non-null  float64
 12  member_casual       97584 non-null  object
dtypes: float64(4), object(9)
memory usage: 9.7+ MB

In [78]:
# Check the Nov 2022 dataset columns
nov_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72709 entries, 0 to 72708
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ride_id             72709 non-null  object
 1   rideable_type       72709 non-null  object
 2   started_at          72709 non-null  object
 3   ended_at            72709 non-null  object
 4   start_station_name  72699 non-null  object
 5   start_station_id    72699 non-null  object
 6   end_station_name    72430 non-null  object
 7   end_station_id      72430 non-null  object
 8   start_lat           72709 non-null  float64
 9   start_lng           72709 non-null  float64
 10  end_lat             72609 non-null  float64
 11  end_lng             72609 non-null  float64
 12  member_casual       72709 non-null  object
dtypes: float64(4), object(9)
memory usage: 7.2+ MB

In [148]:
# Find all the CSVs in the resources directory
csv_paths = []
for path in Path("resources").iterdir():
    csv_paths.append(path)

# Create a DataFrame from all the CSVs
combined_df = pd.concat((pd.read_csv(filename) for filename in csv_paths))
combined_df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 3131: invalid start byte

In [80]:
# Display the columns to identify null count
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 975819 entries, 0 to 48584
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             975819 non-null  object
 1   rideable_type       975819 non-null  object
 2   started_at          975819 non-null  object
 3   ended_at            975819 non-null  object
 4   start_station_name  975737 non-null  object
 5   start_station_id    975737 non-null  object
 6   end_station_name    972491 non-null  object
 7   end_station_id      972491 non-null  object
 8   start_lat           975819 non-null  float64
 9   start_lng           975819 non-null  float64
 10  end_lat             974755 non-null  float64
 11  end_lng             974755 non-null  float64
 12  member_casual       975819 non-null  object
dtypes: float64(4), object(9)
memory usage: 104.2+ MB

In [115]:
# Drop all rows which have a null value
clean_df = combined_df.dropna(how="any").reset_index(drop=True)

clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 972488 entries, 0 to 972487
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             972488 non-null  object
 1   rideable_type       972488 non-null  object
 2   started_at          972488 non-null  object
 3   ended_at            972488 non-null  object
 4   start_station_name  972488 non-null  object
 5   start_station_id    972488 non-null  object
 6   end_station_name    972488 non-null  object
 7   end_station_id      972488 non-null  object
 8   start_lat           972488 non-null  float64
 9   start_lng           972488 non-null  float64
 10  end_lat             972488 non-null  float64
 11  end_lng             972488 non-null  float64
 12  member_casual       972488 non-null  object
dtypes: float64(4), object(9)
memory usage: 96.5+ MB

In [116]:
clean_df = clean_df.astype({
    'started_at': 'datetime64[ns]',
    'ended_at': 'datetime64[ns]'
})

clean_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E2E964A161F786AB,classic_bike,2023-08-07 19:37:47,2023-08-07 19:41:14,6 St & Grand St,HB302,Madison St & 10 St,HB503,40.744398,-74.034501,40.749943,-74.035865,member
1,0660F2E48E3BB87F,classic_bike,2023-08-01 13:16:22,2023-08-01 13:26:02,6 St & Grand St,HB302,6 St & Grand St,HB302,40.744398,-74.034501,40.744398,-74.034501,member
2,940FC7C675232897,classic_bike,2023-08-15 17:28:23,2023-08-15 17:50:35,Heights Elevator,JC059,Heights Elevator,JC059,40.748721,-74.040480,40.748716,-74.040443,member
3,E967660CC5CD585B,classic_bike,2023-08-01 12:44:24,2023-08-01 12:49:45,Hoboken Ave at Monmouth St,JC105,Hoboken Terminal - River St & Hudson Pl,HB102,40.735279,-74.046830,40.736068,-74.029127,member
4,D997CB0B855FE2D6,classic_bike,2023-08-08 12:31:16,2023-08-08 12:40:18,Hoboken Ave at Monmouth St,JC105,Hoboken Terminal - River St & Hudson Pl,HB102,40.735208,-74.046964,40.736068,-74.029127,member

In [117]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 972488 entries, 0 to 972487
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             972488 non-null  object
 1   rideable_type       972488 non-null  object
 2   started_at          972488 non-null  datetime64[ns]
 3   ended_at            972488 non-null  datetime64[ns]
 4   start_station_name  972488 non-null  object
 5   start_station_id    972488 non-null  object
 6   end_station_name    972488 non-null  object
 7   end_station_id      972488 non-null  object
 8   start_lat           972488 non-null  float64
 9   start_lng           972488 non-null  float64
 10  end_lat             972488 non-null  float64
 11  end_lng             972488 non-null  float64
 12  member_casual       972488 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 96.5+ MB

In [118]:
start_stations = clean_df['start_station_name'].value_counts()

In [119]:
start_stations[start_stations.values < 100]

Broadway & W 56 St          8
Cleveland Pl & Spring St    4
5 Ave & E 87 St             4
W 41 St & 8 Ave             4
John St & William St        3
                           ..
E 97 St & 3 Ave             1
E 25 St & 2 Ave             1
Division St & Bowery        1
8 Ave & W 52 St             1
Walker St & Baxter St       1
Name: start_station_name, Length: 225, dtype: int64

In [120]:
pattern = 'Walker St'
for station in start_stations.index:
    if len(re.findall(pattern, station)) > 0:
        print(station)

6 Ave & Walker St
Walker St & Baxter St

In [121]:
same_startend = clean_df.loc[(clean_df['start_lat'] == clean_df['end_lat']) & (clean_df['start_lng'] == clean_df['end_lng'])]
same_startend

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1,0660F2E48E3BB87F,classic_bike,2023-08-01 13:16:22,2023-08-01 13:26:02,6 St & Grand St,HB302,6 St & Grand St,HB302,40.744398,-74.034501,40.744398,-74.034501,member
10,03B9C22973B055BF,electric_bike,2023-08-02 13:23:34,2023-08-02 13:24:39,Jackson Square,JC063,Jackson Square,JC063,40.711130,-74.078900,40.711130,-74.078900,member
11,6A1209C04341249B,electric_bike,2023-08-02 13:25:13,2023-08-02 13:25:36,Jackson Square,JC063,Jackson Square,JC063,40.711130,-74.078900,40.711130,-74.078900,member
13,1DEF9C2A826DF529,classic_bike,2023-08-14 17:43:22,2023-08-14 18:27:11,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046964,40.735208,-74.046964,casual
38,AA55978A1EBD9347,classic_bike,2023-08-15 18:44:11,2023-08-15 19:19:42,Pershing Field,JC024,Pershing Field,JC024,40.742677,-74.051789,40.742677,-74.051789,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972432,E4E1D6B94452AF3D,classic_bike,2022-12-23 15:14:13,2022-12-23 16:59:10,Riverview Park,JC057,Riverview Park,JC057,40.744319,-74.043991,40.744319,-74.043991,casual
972442,FBF8CB546EA8FFC2,classic_bike,2022-12-21 17:59:11,2022-12-21 17:59:47,Riverview Park,JC057,Riverview Park,JC057,40.744319,-74.043991,40.744319,-74.043991,casual
972478,ACFD566729F5213E,classic_bike,2022-12-30 18:07:49,2022-12-30 18:30:09,City Hall - Washington St & 1 St,HB105,City Hall - Washington St & 1 St,HB105,40.737360,-74.030970,40.737360,-74.030970,casual
972481,5A27145BDBF52E24,classic_bike,2022-12-18 16:15:48,2022-12-18 16:15:57,Manila & 1st,JC082,Manila & 1st,JC082,40.721651,-74.042884,40.721651,-74.042884,casual
972482,E95B60643D26620A,classic_bike,2022-12-10 13:13:06,2022-12-10 13:13:22,City Hall - Washington St & 1 St,HB105,City Hall - Washington St & 1 St,HB105,40.737360,-74.030970,40.737360,-74.030970,member

In [122]:
duration = same_startend['ended_at'] - same_startend['started_at']
duration

1        0 days 00:09:40
10       0 days 00:01:05
11       0 days 00:00:23
13       0 days 00:43:49
38       0 days 00:35:31
               ...
972432   0 days 01:44:57
972442   0 days 00:00:36
972478   0 days 00:22:20
972481   0 days 00:00:09
972482   0 days 00:00:16
Length: 44915, dtype: timedelta64[ns]

In [123]:
duration.sort_values()

195818   -1 days +23:38:36
195819   -1 days +23:39:24
877301   -1 days +23:59:59
195816     0 days 00:00:00
163375     0 days 00:00:00
                ...
665749     0 days 22:32:30
745749     0 days 22:57:26
163479     1 days 00:03:04
862289     1 days 00:38:26
170217     2 days 02:10:36
Length: 44915, dtype: timedelta64[ns]

In [128]:
same_startend[same_startend.index == 170217]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
170217,2BF79246D444D0EC,docked_bike,2022-11-26 15:27:27,2022-11-28 17:38:03,Liberty Light Rail,JC052,Liberty Light Rail,JC052,40.711242,-74.055701,40.711242,-74.055701,casual

In [131]:
invalid = same_startend.loc[same_startend['ended_at'] == same_startend['started_at']]
len(invalid)

33

In [140]:
# Less than one minute in duration
same_startend.loc[duration < pd.Timedelta(minutes=1)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
11,6A1209C04341249B,electric_bike,2023-08-02 13:25:13,2023-08-02 13:25:36,Jackson Square,JC063,Jackson Square,JC063,40.711130,-74.078900,40.711130,-74.078900,member
120,8EF5194B604BF30E,classic_bike,2023-08-09 12:12:14,2023-08-09 12:12:20,Hoboken Terminal - River St & Hudson Pl,HB102,Hoboken Terminal - River St & Hudson Pl,HB102,40.736068,-74.029127,40.736068,-74.029127,casual
121,06A71E513DA709FD,classic_bike,2023-08-27 11:06:34,2023-08-27 11:06:46,Hoboken Terminal - River St & Hudson Pl,HB102,Hoboken Terminal - River St & Hudson Pl,HB102,40.736068,-74.029127,40.736068,-74.029127,member
232,9A5CF8CEFCB5A0F1,electric_bike,2023-08-12 09:20:32,2023-08-12 09:20:40,Leonard Gordon Park,JC080,Leonard Gordon Park,JC080,40.745910,-74.057271,40.745910,-74.057271,member
247,A2542561E767B213,classic_bike,2023-08-11 21:34:32,2023-08-11 21:34:57,Leonard Gordon Park,JC080,Leonard Gordon Park,JC080,40.745910,-74.057271,40.745910,-74.057271,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
972345,F5C94C4C38A64E0E,classic_bike,2022-12-13 17:58:52,2022-12-13 17:59:23,City Hall - Washington St & 1 St,HB105,City Hall - Washington St & 1 St,HB105,40.737360,-74.030970,40.737360,-74.030970,member
972421,CD0972D617A89F01,electric_bike,2022-12-29 12:59:42,2022-12-29 13:00:02,Riverview Park,JC057,Riverview Park,JC057,40.744319,-74.043991,40.744319,-74.043991,member
972442,FBF8CB546EA8FFC2,classic_bike,2022-12-21 17:59:11,2022-12-21 17:59:47,Riverview Park,JC057,Riverview Park,JC057,40.744319,-74.043991,40.744319,-74.043991,casual
972481,5A27145BDBF52E24,classic_bike,2022-12-18 16:15:48,2022-12-18 16:15:57,Manila & 1st,JC082,Manila & 1st,JC082,40.721651,-74.042884,40.721651,-74.042884,casual
972482,E95B60643D26620A,classic_bike,2022-12-10 13:13:06,2022-12-10 13:13:22,City Hall - Washington St & 1 St,HB105,City Hall - Washington St & 1 St,HB105,40.737360,-74.030970,40.737360,-74.030970,member

In [145]:
# Longer duration rides
same_startend.loc[duration > pd.Timedelta(hours=24)]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
163479,E03FA79F6F14F3EC,electric_bike,2022-11-09 16:19:35,2022-11-10 16:22:39,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
170217,2BF79246D444D0EC,docked_bike,2022-11-26 15:27:27,2022-11-28 17:38:03,Liberty Light Rail,JC052,Liberty Light Rail,JC052,40.711242,-74.055701,40.711242,-74.055701,casual
862289,2C8C9870A5C695A8,electric_bike,2023-07-16 00:21:06,2023-07-17 00:59:32,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,casual

In [133]:
clean_df['rideable_type'].value_counts()

classic_bike     820585
electric_bike    149498
docked_bike        2405
Name: rideable_type, dtype: int64

In [137]:
clean_df.loc[clean_df['rideable_type'] == "docked_bike"]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
112471,858E0A116A970C22,docked_bike,2023-02-11 22:18:24,2023-02-11 22:37:38,Hamilton Park,JC009,8 St & Washington St,HB603,40.727596,-74.044247,40.745984,-74.028199,casual
112477,ADDFD555C51DBDAB,docked_bike,2023-02-26 18:19:16,2023-02-26 18:52:39,8 St & Washington St,HB603,8 St & Washington St,HB603,40.745984,-74.028199,40.745984,-74.028199,casual
112587,674EFD4B099F0C7D,docked_bike,2023-02-21 16:58:30,2023-02-21 17:03:17,Washington St,JC098,Grand St,JC102,40.724294,-74.035483,40.715178,-74.037683,casual
112656,9C29738101B6364F,docked_bike,2023-02-24 03:11:33,2023-02-24 03:16:47,Newport PATH,JC066,Hamilton Park,JC009,40.727224,-74.033759,40.727596,-74.044247,casual
112670,4603DD7372EE3B68,docked_bike,2023-02-24 20:54:26,2023-02-24 21:21:44,Hamilton Park,JC009,Hamilton Park,JC009,40.727596,-74.044247,40.727596,-74.044247,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
970908,755CFC38E92A64CB,docked_bike,2022-12-10 16:08:10,2022-12-10 16:22:09,Clinton St & Newark St,HB409,Dixon Mills,JC076,40.737430,-74.035710,40.721630,-74.049968,casual
970942,2F58B95E6297CC78,docked_bike,2022-12-20 16:03:32,2022-12-21 08:34:54,Hoboken Terminal - River St & Hudson Pl,HB102,11 St & Washington St,HB502,40.736068,-74.029127,40.749985,-74.027150,casual
971156,332E55456B046606,docked_bike,2022-12-18 19:11:34,2022-12-19 09:55:12,Hoboken Terminal - River St & Hudson Pl,HB102,11 St & Washington St,HB502,40.736068,-74.029127,40.749985,-74.027150,casual
971260,8AD2045017767897,docked_bike,2022-12-05 15:06:58,2022-12-05 15:12:13,City Hall - Washington St & 1 St,HB105,8 St & Washington St,HB603,40.737360,-74.030970,40.745984,-74.028199,casual
972175,DAE3B3D0440FED09,docked_bike,2022-12-23 14:59:20,2022-12-23 16:58:46,Heights Elevator,JC059,Riverview Park,JC057,40.748716,-74.040443,40.744319,-74.043991,casual